


.content{
   max-width: 1300px;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px auto;
    img{
        border:5px solid black;
    }
   p{
    max-width: 768px;
   }
   h2{
    text-align: center;
    width: 100%;
   }
   
}
.description{
    min-width: 200px;
    text-align: center;
    font-weight: 500;
   }
.titleDiv{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin:0 auto;
    width: max-content;
    font-size: 0.8em;
    margin-top: 20px;
}

.comicList{
    max-width: 1300px;
    padding:10px;
    margin:10px auto;
    width: 100%;
    display:flex;
    gap: 40px;
    justify-content: center;
    flex-wrap:wrap;
    p{
        font-weight: bold;
        font-size: 1.4em;
        text-align:center;
        margin: 5px 0;
    }
}
.comicImage{
    width: 100%;
    border: 3px solid black;
    
}
.comicItem{
    width: 100%;
    padding: 0 20px;
}

.erromsg{
    text-align: center;
}

@media screen and (min-width:600px) {
    .comicItem{
        width: 40%;
        padding: 0 20px;
    }
}




@media screen and (min-width:776px) {
    .content{
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: 40px;
        h2{
            margin: 0;
            background-color:black;
            color: white;
            width: max-content;
            padding: 5px 10px;
            border-radius: 0px 5px 5px 0px;
        }
        p{
            margin:0px;
            border: 5px solid black;
            padding:10px;
            width: 80%;
        }
    }
    .comicItem{
        width: 30%;
        padding: 0 20px;
    }
    .description{
        
        text-align: left;
       }
}

@media screen and (min-width:1000px) {
    .comicItem{
        width: 20%;
        padding: 0 20px;
    }
}