.List{
    display: flex;
    flex-direction: row;
    margin:10px auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    align-items: flex-start;
}
.input{
    margin: 10px auto;
    width: 20%;
    padding: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loading{
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    background-color: red;
    color: white;
    width: max-content;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
}